# Пример .env файла. Можно скопировать данные отсюда для создания переменных окружения

# Настройки запуска Django
SECRET_KEY="django-insecure-lyn%b7h9tw!wxuym00x3g3q&xm&s#io-rk38s)z=5uy_6j5vfc"
DOCKER_RUN=True  # Запуск в Docker окружении
DEBUG_MODE=True  # True - режим разработки, False - для прода
DJANGO_PORT=8000  # Порт запуска web

# Настройки Postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db
DB_USER=us
DB_PASS=pass
WAIT_PG_SEC=5  # Сколько другим контейнерам ждать контейнер с Postgres

# Настройки Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Настройки проекта
PER_PAGE_PAGINATION=2
WEATHER_UPDATE_DELAY_MIN=1  # Интервал между запросами прогноза погод 

